<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Bandwidth Billing for {{invoice.get_month}}</title>
  </head>
  <body>
    <p>Dear {{invoice.customer.customer_name}}, </p>
    <br><br>
    <p>Your invoice for the month of {{invoice.get_month}} is attached. Please pay within due date to avoid service disruption or degradation.</p>
    <br><br>
    <p>Kind Regards,</p>
    <br>
    <p>Billing Department</p>
    <br>
    <p>For billing related queries, please call 0300 811 7423</p>
    <br>
    <p>For complaints, please call or WhatsApp 0300 8117467 or 0300 811 7431</p>
  </body>
</html>
