<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{%block title%}{%endblock title%}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ispinvoice/css/master.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <style>
      .table-sortable th {
        cursor: pointer;
      }

      .table-sortable .th-sort-asc::after {
        content: "\25b4";
      }

      .table-sortable .th-sort-desc::after {
        content: "\25be";
      }

      .table-sortable .th-sort-asc::after,
      .table-sortable .th-sort-desc::after {
        margin-left: 5px;
      }

      .table-sortable .th-sort-asc,
      .table-sortable .th-sort-desc {
        background: rgba(0, 0, 0, 0.1);
      }

    </style>
  </head>
  <body>
    <nav class="navbar mynav" role="navigation" id='navbar'>

      <div class="container">
          <a href="/" class="navbar-brand">
          <img src="{% static 'img/skifnav.jpg' %}" width="70" alt="" class="d-inline-block align-middle mr-2">
        </a>
        <a class="navbar-brand mynav" href="{% url 'home'%}">Home</a>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'isp_app:customerlist' %}">Customers</a></li>
            <li><a href="{% url 'isp_app:servicelist' %}">Services</a></li>
            <li><a href="{% url 'isp_app:invoicelist' %}">Invoices</a></li>
            <li><a href="{% url 'accounts:logout'%}">Log Out</a></li>
          {% else %}



          {% endif %}
        </ul>

      </div>

    </nav>
    {%block scripts%}
    {%endblock scripts%}
    <!-- <div class="container mycontent"> -->
      {% block content %}
      {% endblock %}
    <!-- </div> -->
    <footer class="page-footer font-small blue fixed-bottom padding-top-5">
      <div class="footer-copyright text-center py-3">© 2020 Copyright: MSZ
      </div>
    </footer>
  </body>
</html>
